<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="testserverbase" value=""/>
    <add key="CertExpirationInDay" value="90"/>
    <add key="CrlFileLocation" value="c:\wcftest\test.crl"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
