<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="httpBinding" />
            </basicHttpBinding>
            <basicHttpsBinding>
                <binding name="httpsBinding" />
                <binding name="https+digest_username">
                    <security mode="Transport">
                        <transport clientCredentialType="Digest" />
                    </security>
                </binding>
                <binding name="https+basic_username">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="https+ntlm">
                    <security mode="Transport">
                        <transport clientCredentialType="Ntlm" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="https+windows">
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpsBinding>
            <customBinding>
                <binding name="defaultCustomHttp">
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="http+soap11">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="https+soap11">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
                <binding name="http+soap12">
                    <textMessageEncoding messageVersion="Soap12WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="https+soap12">
                    <textMessageEncoding messageVersion="Soap12WSAddressing10" />
                    <httpsTransport />
                </binding>
                <binding name="http+binary">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="tcp+text">
                    <textMessageEncoding />
                    <tcpTransport portSharingEnabled="false"/>
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="nettcpBinding" portSharingEnabled="false"/>
                <binding name="nettcpBinding+nosecurity" portSharingEnabled="false">
                    <security mode="None" />
                </binding>
                <binding name="nettcpBindingCallback" portSharingEnabled="false">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <netHttpBinding>
                <binding name="nethttpBinding" />
            </netHttpBinding>
        </bindings>
        <services>
            <service name="WcfService.WcfUserNameService" behaviorConfiguration="BasicAuth">
              <endpoint address="https-basic" binding="basicHttpsBinding" bindingConfiguration="https+basic_username"
              name="https-basic" contract="WcfService.IWcfCustomUserNameService" />
              <host>
                <!--This part is important to determine the base addresses for your endpoints-->
                <baseAddresses>
                  <add baseAddress="https://*:44285/WindowsCommunicationFoundation/CustomerUserName" />
                </baseAddresses>
              </host>
            </service>
            <service name="WcfService.WcfService">

                <!-- NOTE! Ensure that the directory where service is hosted in has folder security permissions -->
                <!-- Endpoints below will operate on http and https - anonymous authentication -->
                
                <!-- Default endpoint at the base address -->
                <endpoint address="" binding="customBinding" bindingConfiguration="defaultCustomHttp"
                          name="default" contract="WcfService.IWcfService" />
                <!-- /Basic endpoint -->
                <endpoint address="Basic" binding="basicHttpBinding" bindingConfiguration="httpBinding"
                 name="defaultBasic" contract="WcfService.IWcfService" />
                <!-- Endpoints based on different binding configurations -->
                <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="httpBinding"
                  name="basicHttpEndpoint" contract="WcfService.IWcfService" />
                <endpoint address="basicHttps" binding="basicHttpsBinding" bindingConfiguration="httpsBinding"
                  name="basicHttpsEndpoint" contract="WcfService.IWcfService" />
                <endpoint address="http-soap11" binding="customBinding" bindingConfiguration="http+soap11"
                  name="http-soap11Endpoint" contract="WcfService.IWcfService" />
                <endpoint address="http-soap12" binding="customBinding" bindingConfiguration="http+soap12"
                  name="http-soap12Endpoint" contract="WcfService.IWcfService" />
                <endpoint address="http-binary" binding="customBinding" bindingConfiguration="http+binary"
                  name="http-binaryEndpoint" contract="WcfService.IWcfService" />
                <endpoint address="https-soap11" binding="customBinding" bindingConfiguration="https+soap11"
                  name="https-soap11Endpoint" contract="WcfService.IWcfService" />
                <endpoint address="https-soap12" binding="customBinding" bindingConfiguration="https+soap12"
                  name="https-soap12Endpoint" contract="WcfService.IWcfService" />
                <endpoint address="netHttp" binding="netHttpBinding" bindingConfiguration="nethttpBinding"
                  name="nethttpEndpoint" contract="WcfService.IWcfService" />

                <!-- NTLM/Windows authentication will need read permissions for Authenticated users -->
                
        <endpoint address="https-basic" binding="basicHttpsBinding" bindingConfiguration="https+basic_username"
          name="https-basic" contract="WcfService.IWcfService" />
                
                <!-- Digest authentication -->

                <endpoint address="https-digest" binding="basicHttpsBinding" behaviorConfiguration=""
          bindingConfiguration="https+digest_username" name="https-digest"
          contract="WcfService.IWcfService" />

<!-- Kerberos and NTLM authentication -->
                <!--
        <endpoint address="https-ntlm" binding="basicHttpsBinding" bindingConfiguration="https+ntlm"
          name="https-ntlm" contract="WcfService.IWcfService" />
        <endpoint address="https-windows" binding="basicHttpsBinding"
          bindingConfiguration="https+windows" name="https-windows" contract="WcfService.IWcfService" />
-->
                <!-- net.tcp endpoint addresses -->
                
                <endpoint address="tcp-default" binding="netTcpBinding" bindingConfiguration="nettcpBinding"
                          name="nettcp-defaultBinding" contract="WcfService.IWcfService" />
                <endpoint address="tcp-nosecurity" binding="netTcpBinding" bindingConfiguration="nettcpBinding+nosecurity"
                          name="nettcp-defaultBinding" contract="WcfService.IWcfService" />
                <endpoint address="tcp-custombinding-nosecurity-text" binding="customBinding" bindingConfiguration="tcp+text"
                          name="nettcp-customBinding" contract="WcfService.IWcfService" />

                <!-- Metadata endpoint addresses -->
                <!--<endpoint name="http-mex" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <endpoint name="tcp-mex" address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>-->

                <host>
                    <!--This part is important to determine the base addresses for your endpoints-->
                    <baseAddresses>
                        <add baseAddress="net.tcp://*:809/WindowsCommunicationFoundation" />
                        <add baseAddress="http://*:8081/WindowsCommunicationFoundation" />
                        <add baseAddress="https://*:44285/WindowsCommunicationFoundation" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WcfService.WcfDuplexService">
                <endpoint address="tcp-nosecurity-callback" binding="netTcpBinding" bindingConfiguration="nettcpBindingCallback"
                          name="nettcp-defaultBinding" contract="WcfService.IWcfDuplexService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://*:810/WindowsCommunicationFoundation" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WcfService.TestIDuplexService">
                <endpoint address="tcp-nosecurity-callback" binding="netTcpBinding" bindingConfiguration="nettcpBindingCallback"
                          name="nettcp-defaultBinding" contract="WcfService.IDuplexChannelService" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />-->
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="BasicAuth">
                  <serviceDebug includeExceptionDetailInFaults="true" />
                  <serviceCredentials>
                    <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfService.CustomUserNameValidator, WcfService"/>
                  </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <protocolMapping>
            <add binding="basicHttpBinding" scheme="http" />
        </protocolMapping>
    </system.serviceModel>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
                <listeners>
                    <add name="traceListener"
                      type="System.Diagnostics.XmlWriterTraceListener"
                      initializeData="ServerTraces.svclog" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
</configuration>