<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="WcfForSvcUtil.Service1" behaviorConfiguration="MEXGET">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/WcfForSvcutil"/>
					</baseAddresses>
				</host>
				<endpoint address="/Service1.svc" binding="basicHttpBinding" contract="WcfForSvcUtil.IService1" />
				<endpoint address="/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services> 
		<behaviors>
			<serviceBehaviors>
				<behavior name="MEXGET">
					<serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
			</serviceBehaviors>
		</behaviors>

		<!--<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>-->
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
