<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NOTE: This is a workaround NuGet.Config to allow an old NuGet.exe to restore this project from the nuget.org v2 feed. -->
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="..\..\..\..\packages" />
  </config>
  <packageRestore>
    <!-- Automated package restore in VS does not work at this time with
         this project and it causes build failures in VS. Disable it. -->
    <add key="automatic" value="false" />
  </packageRestore>
</configuration>
