<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="httpsBinding" />
        <binding name="https+digest_username">
          <security mode="Transport">
            <transport clientCredentialType="Digest" />
          </security>
        </binding>
        <binding name="https+basic_username">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="https+ntlm">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="https+windows">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpsBinding>
      <customBinding>
        <binding name="defaultCustom">
          <textMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="http+soap11">
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport />
        </binding>
        <binding name="https+soap11">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
        <binding name="http+soap12">
          <textMessageEncoding messageVersion="Soap12WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="https+soap12">
          <textMessageEncoding messageVersion="Soap12WSAddressing10" />
          <httpsTransport />
        </binding>
        <binding name="http+binary">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="nettcpBinding" portSharingEnabled="false"/>
        <binding name="nettcpBinding+nosecurity" portSharingEnabled="false">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WcfProjectNService.WcfProjectNService">

        <!-- NOTE! Ensure that the directory where service is hosted in has folder security permissions -->

        <!-- Endpoints below will operate on http and https - anonymous authentication -->
        <!-- Default endpoint at the base address -->
        <endpoint address="" binding="customBinding" bindingConfiguration="defaultCustom"
          name="defaultEndpoint" contract="WcfProjectNService.IWcfProjectNService" />
        <!-- /Basic endpoint -->
        <endpoint address="Basic" binding="basicHttpBinding" bindingConfiguration="httpBinding"
          name="defaultBasic" contract="WcfProjectNService.IWcfProjectNService" />
        <!-- Endpoints based on different binding configurations -->
        <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="httpBinding"
          name="basicHttpEndpoint" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="basicHttps" binding="basicHttpsBinding" bindingConfiguration="httpsBinding"
          name="basicHttpsEndpoint" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="httpsoap11" binding="customBinding" bindingConfiguration="http+soap11"
          name="httpsoap11Endpoint" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="httpsoap12" binding="customBinding" bindingConfiguration="http+soap12"
          name="httpsoap12Endpoint" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="httpbinary" binding="customBinding" bindingConfiguration="http+binary"
          name="httpbinaryEndpoint" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="httpssoap11" binding="customBinding" bindingConfiguration="https+soap11"
          name="httpssoap11Endpoint" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="httpssoap12" binding="customBinding" bindingConfiguration="https+soap12"
          name="httpssoap12Endpoint" contract="WcfProjectNService.IWcfProjectNService" />


        <!-- Basic and Digest authentication will need permissions for indgaunt -->
        <!-- NTLM/Windows authentication will need read permissions for Authenticated users -->
        <!--
        <endpoint address="httpsbasic" binding="basicHttpsBinding" bindingConfiguration="https+basic_username"
          name="httpsbasic" contract="WcfProjectNService.IWcfProjectNService" />
-->
        <!-- Digest authentication -->
        <!--
        <endpoint address="httpsdigest" binding="basicHttpsBinding" behaviorConfiguration=""
          bindingConfiguration="https+digest_username" name="httpsdigest"
          contract="WcfProjectNService.IWcfProjectNService" />
-->
        <!-- Kerberos and NTLM authentication -->
        <!--
        <endpoint address="httpsntlm" binding="basicHttpsBinding" bindingConfiguration="https+ntlm"
          name="httpsntlm" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="httpswindows" binding="basicHttpsBinding"
          bindingConfiguration="https+windows" name="httpswindows" contract="WcfProjectNService.IWcfProjectNService" />
-->
        <endpoint address="tcpdefault" binding="netTcpBinding" bindingConfiguration="nettcpBinding"
                  name="nettcpdefaultBinding" contract="WcfProjectNService.IWcfProjectNService" />
        <endpoint address="tcpnosecurity" binding="netTcpBinding" bindingConfiguration="nettcpBinding+nosecurity"
                  name="nettcpdefaultBinding" contract="WcfProjectNService.IWcfProjectNService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
        switchValue="Information, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="traceListener"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="ServerTraces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>