<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="false" />
    <trace enabled="false" localOnly="true" />
    <!-- some git syncs may take a long time, so upping the executionTimeout to help with this -->
    <httpRuntime executionTimeout="300" />
  </system.web>
  <appSettings>
    <!--
      These appSettings provide the default environment under which we execute
      These should be changed to reflect what is correct on the local system, or 
      specified as a system-wide environment variable. 
      
      Environment variables take precedence over what is specified here
    -->
    <add key="GitExecutablePath" value="C:\Program Files\Git\cmd\git.exe"/>
    <add key="GitRepositoriesBasePath" value="C:\git"/>
    <add key="GitExecutionTimeout" value="00:01:00"/>
    
  </appSettings>
</configuration>

