<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="WcfService1.Service1">
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint name="MyEndPoint" binding="netTcpBinding" bindingConfiguration="EndPointConfiguration" contract="WcfService1.IService1" />
        <endpoint name="httpEndpoint" binding="basicHttpBinding" bindingConfiguration="BasicHttp" contract="WcfService1.IService1" />
        <endpoint address="netHttp" name="nethttpEndpoint" binding="netHttpBinding" bindingConfiguration="NetHttp" contract="WcfService1.IService1" />
      </service>

      <service name="WcfService1.DuplexService">
        <endpoint name="MyDuplexEndPoint" binding="netTcpBinding" bindingConfiguration="EndPointConfiguration" contract="WcfService1.IDuplexService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="websocket" name="WebsocketEndpoint" binding="netHttpBinding" bindingConfiguration="NetHttp" contract="WcfService1.IDuplexService" />
      </service>

      <service name="WcfService1.StreamingService">
        <endpoint name="StreamingHttpEndpoint" binding="basicHttpBinding" bindingConfiguration="StreamingHttp" contract="WcfService1.IStreamingService" />
        <endpoint name="StreamingNetTcpEndpoint" binding="netTcpBinding" bindingConfiguration="StreamingNetTcp" contract="WcfService1.IStreamingService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <service name ="WcfService1.DuplexStreamingService">
        <endpoint name ="DuplexStreamingNetHttpEndpoint" binding ="netHttpBinding" bindingConfiguration ="DuplexStreamingNetHttp" contract ="WcfService1.IDuplexStreamingService" />
      </service>

    </services>
    <bindings>
      <netTcpBinding>
        <binding name="EndPointConfiguration" portSharingEnabled="true" sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
        <binding name ="StreamingNetTcp" maxReceivedMessageSize ="1671088640" transferMode="Streamed">
          <security mode ="None" />
        </binding>
      </netTcpBinding>

      <basicHttpBinding>
        <binding name="BasicHttp">
          <security mode="None" />
        </binding>
        <binding name="StreamingHttp" maxReceivedMessageSize="1671088640" transferMode="Streamed">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      
      <netHttpBinding>
        <binding name="NetHttp">
          <webSocketSettings transportUsage="WhenDuplex" /> 
        </binding>
        <binding name="DuplexStreamingNetHttp"  maxReceivedMessageSize="1671088640" transferMode="Streamed">
                    <webSocketSettings transportUsage="Always" /> 
        </binding>
      </netHttpBinding>

    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>

</configuration>
