<?xml version="1.0" encoding="utf-8"?>
 <!--Copyright (c) Microsoft Corporation.  All Rights Reserved.-->
<configuration>

  <system.webServer>
        <security>
            <authentication>
                <digestAuthentication enabled="true" realm="Digest" />
                <anonymousAuthentication enabled="false" />
            </authentication>
        </security>
  </system.webServer>
</configuration>
